.container {
  max-width: 120rem;
  background-color: var(--color-grey-light-1);
  min-height: 50rem;
  margin: 8rem auto;
  box-shadow: var(--shadow-dark);
}

.header {
  padding: 0px 2rem;
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom:var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display:flex;
}

.sidebar {
  background-color: var(--color-grey-dark-2);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotelview {
  flex:1;
}

.details {
  display: flex;
  padding:4.5rem;
  background-color:var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  font-size: 1.4rem;
  flex: 0 0 60%;
  background-color: orangered;
  margin-right:4.5rem;
  padding:3rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
}

.user-review{
  flex:1;
 background-color: greenyellow;
}




